<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="utilities.ExtentReportManager"/>
    </listeners>

    <test name="chrometest">
        <parameter name="os" value="Windows"/>
        <parameter name="browser" value="chrome"/>

        <classes>
            <class name="testCases.LoginTest">
                <methods>
                    <include name="verify_login"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="edgetest">
        <parameter name="os" value="Windows"/>
        <parameter name="browser" value="edge"/>

        <classes>
            <class name="testCases.LoginDDT">
                <methods>
                    <include name="verify_DDT"/>
                </methods>
            </class>
        </classes>
    </test>

    </suite>
